footer {
    width: 100%;
    height: 50px;
    background-color: var(--colorPrincipal);
    text-align: center;
    display: block;
    color: var(--colorSecundario);
}

footer a {
    display: block;
    padding-top: 10px;
}

footer a:hover {
    color: azure;
}